.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container:hover {
  border-bottom: 1px solid rgba(205, 205, 205, 1.0);
}

.container:after {
  content: "";
  display: grid;
  clear: both;
}

.Logo {
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;

  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav button {
  text-decoration: none;
  line-height: 36, 67px;
}

header button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px 5px;
  padding: 5px 10px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s ease-in-out;
  border: none;
}

header button {
  border-radius: 7px;
  color: #323232;
  box-shadow: inset 0 -5px 0 #323232;
}

header button:hover {
  box-shadow: inset 0 -60px 0 #323232, 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: #E6E6E6;
}

ion-icon {
  --ionicon-stroke-width: 40px;
}

body {
  background: url(/../images/concrete_seamless.webp);
  height: 100%;
}

main {
  padding-bottom: 100px;
  margin-right: 5%;
  margin-left: 5%;
}

footer {
  color: #aaaaaa;
  border-top: 1px solid #aaaaaa;
  flex-grow: 0;
  flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
}

p {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}

.product-item {
  width: 210px;
  text-align: center;
  margin: 0 auto;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
  border-bottom: 2px solid #F5F5F5;
  background-color: rgba(255, 255, 255, 0.25);
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease-in;
  display: inline-block;
  border-radius: 15px;
}

.product-item:hover {
  border-bottom: 2px solid #fc5a5a;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.product-item img {
  height: 200px;
  width: 210px;
}


.product-list {
  padding: 15px 0;
  border-top: 2px solid rgba(255, 255, 255, 0.25);
}

.product-list:hover {
  border-top: 2px solid #fc5a5a;
}

.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}

.price {
  font-size: 16px;
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: rgba(50, 50, 50, 0.2);
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=radio] {
  display: inline;
  width: 20%;
  padding: 10px;
  border: none;
  background: #f1f1f1;
  margin-bottom: 10px;
  margin-top: 5px;
}

input[type=number] {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: rgba(50, 50, 50, 0.2);
  margin-bottom: 10px;
  margin-top: 2px;
  border-radius: 5px;
}

input[type=submit] {
  background-color: #323232;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.7;
  border-radius: 15px;
}

input[type=submit]:hover {
  box-shadow: inset 0 -60px 0 #1D479D, 3px 3px 4px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}

input[type=file] {
  cursor: pointer;
  opacity: 1;
}

input[type=file]:hover {
  box-shadow: inset 0 -60px 0 #D60017, 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.product-itm {
  text-align: center;
  margin: 0 auto;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 30px;
  border-bottom: 2px solid #F5F5F5;
  background-color: rgba(255, 255, 255, 0.25);
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease-in;
  display: inline-block;
  border-radius: 15px;
}

.product-itm:hover {
  border-bottom: 2px solid #fc5a5a;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}


.product-lst {
  padding: 15px 0;
  border-top: 2px solid rgba(255, 255, 255, 0.25);
}

.product-lst:hover {
  border-top: 2px solid #fc5a5a;
}

.product-lst h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}

.price-uno {
  font-size: 16px;
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
}

section {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

.top-side {
  margin-bottom: 20px;
}


.handle_form {
  position: static;
  top: 20%;
  left: 45%;
  width: 300px;
  border: 1px solid rgba(50, 50, 50, 0.6);
  border-radius: 5px;
  margin: 0 auto;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.handle_form:hover {
  border: 1px solid rgba(50, 50, 50, 0.7);
  background-color: rgba(255, 255, 255, 1);
}

.handle_button {
  background-color: #323232;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.7;
  border-radius: 5px;
}

.handle_button:hover {
  box-shadow: inset 0 -60px 0 #1D479D, 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.registration_form {
  position: static;
  top: 20%;
  left: 45%;
  width: 300px;
  border: 1px solid rgba(50, 50, 50, 0.6);
  border-radius: 5px;
  margin: 0 auto;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.registration_form:hover {
  border: 1px solid rgba(50, 50, 50, 0.7);
  background-color: rgba(255, 255, 255, 1);
}

.registration_button {
  background-color: #323232;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.7;
  border-radius: 5px;
}

.registration_button:hover {
  box-shadow: inset 0 -60px 0 #af4c72, 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.article {
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgba(50, 50, 50, 1);
  font-size: 13px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  font-size: 14px;
}

.article_info_preview {
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.block {
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  padding: 10px;
}

.qty-views {
  text-align: center;
  width: 200px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background: url(/../images/concrete_seamless.webp);
}

.create_article_form {
  border: 1px solid rgba(50, 50, 50, 0.6);
  border-radius: 5px;
  margin: 0 auto;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.create_article_form:hover {
  border: 1px solid rgba(50, 50, 50, 0.7);
  background-color: rgba(255, 255, 255, 1);
}

.submit {
  position: relative;
  background-color: #323232;
  color: white;
  padding: 16px 20px;
  margin: 0 auto;
  display: block;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.7;
  border-radius: 5px;
}

.submit:hover {
  box-shadow: inset 0 -60px 0 #af4c72, 3px 3px 4px rgba(0, 0, 0, 0.3);
}

textarea[type=text] {
  width: 100%;
  min-height: 300px;
  padding: 15px;
  margin: 15px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: rgba(50, 50, 50, 0.2);
}

.sorting {
  background-color: #D8D8D8;
}

.sorting-select {
  background-color: #D8D8D8;
  width: 220px;
}

.sort_by_cat {
  text-align: center;
  position: absolute;
  width: 200px;
  height: 55px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.sort_by_cat a {
  padding: 10px;
  color: darkcyan;
}

.sort_by_brand {
  text-align: center;
  position: absolute;
  margin-left: 202px;
  width: 200px;
  height: 55px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.sort_by_brand a {
  display: inline-block;
  color: darkcyan;
  padding: 10px;
  padding-top: 0;
}

.sort {
  margin-left: 404px;
  position: relative;
  height: 55px;
  width: 220px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  margin-bottom: 20px;
}

.sort-else {
  margin-left: 202px;
  position: relative;
  height: 55px;
  width: 220px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  margin-bottom: 20px;
}

.sort-form button {
  background-color: #323232;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 5px;
  width: 50px;
  height: 20px;
}

.sort-form button:hover {
  box-shadow: inset 0 -60px 0 #af4c72, 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.product-view {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
}

.product-view:hover {
  border: 1px solid rgba(50, 50, 50, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}

.product-view img {
  width: 40%;
  height: 90%;
  padding: 10px;
  border-radius: 15px;
}

.product-view p {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}

.product {
  margin-left: 80%;
  width: 20%;
  max-width: 40%;
  height: 200px;
  padding: 25px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}

.product:hover {
  border: 1px solid rgba(50, 50, 50, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}

.product h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 5px 0;
}

.price-view {
  font-size: 20px;
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
  text-align: center;
}

.create_item {
  width: 100%;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.create_item:hover {
  border: 1px solid rgba(50, 50, 50, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}

.create_item input[type=submit] {
  width: 300px;
  margin: 0 auto;
  display: block;
}

.create_item input[type=number] {
  width: 200px;
}

.create_item .desc {
  height: 200px;
}

.create_item input[type=file] {
  padding-bottom: 10px;
}

.create_item select {
  margin-bottom: 10px;
}

.make_purchase {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  width: 100%;
  max-width: 500px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.make_purchase:hover {
  border: 1px solid rgba(50, 50, 50, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}

.help {
  margin-bottom: 20px;
}

.table-bordered {
  width: 700px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  display: table;
  margin: 0 auto;
  padding: 5px 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.table-bordered:hover {
  border: 1px solid rgba(50, 50, 50, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}

.table-bordered,
td {
  border-top: 0.5px solid rgba(50, 50, 50, 0.1);
}

.tableBordered {
  position: absolute;
  right: 5%;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  display: table;
  padding: 5px 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.setting_form {
  position: relative;
  width: 100%;
  max-width: 500px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  margin: 5px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.setting_form:hover {
  border: 1px solid rgba(50, 50, 50, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}

.mini-busket {
  z-index: 1;
  display: none;
  margin: 1% auto;
  margin-top: 60px;
  min-height: 200px;
  margin-left: 38%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  width: 60%;
  position: absolute;
}

.admin-table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

.admin-table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 14px;
}

.admin-table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}

.admin-table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}

.admin-table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}

.admin-table tbody tr:nth-child(even) {
  background: #f3f3f3;
}

.admin-table tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}

.admin-table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}

.user-href {
  color: #03827D;
  padding: 3px;
  border-radius: 25px;
  -moz-text-shadow: 0 0 10px #03827D;
  -webkit-text-shadow: 0 0 10px #03827D;
  text-shadow: 0 0 10px #03827D;
}

.user_form {
  position: relative;
  width: 100%;
  max-width: 300px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}

.user_form input[type=radio] {
  margin-top: 10px;
}

.product-red {
  position: absolute;
  width: 40%;
  height: 500px;
  padding: 5px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
}

.product-red img {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 15px;
}

.product-red-one {
  position: relative;
  width: 55%;
  height: 500px;
  padding: 20px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 45%;
}

.product-red-one h3 {
  text-align: center;
  margin-top: -10px;
}

.product-red-one p {
  margin-bottom: 10px;
}

.product-red-one .auth-red {
  text-align: center;
  width: 200px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url(/../images/concrete_seamless.webp);
}

.product-red-one .price-red {
  width: 200px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  text-align: center;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: -5px;
  background: url(/../images/concrete_seamless.webp);
}

.product-red-one .del-red {
  position: absolute;
  right: 15px;
  bottom: 5px;
  font-size: 30px;
}

.red-item {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid rgba(50, 50, 50, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 15px;
}

.red-item input[type=file] {
  padding-bottom: 10px;
}

.red-item input[type=number] {
  width: 30%;
  margin-right: 9.5%;
}

.red-item .author {
  width: 60%;
}

.red-item .desc {
  height: 100px;
}

.article_adm {
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
  margin-bottom: 20px;
}

.article_info_adm p {
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.article_info_meta_adm {
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 10px;
  background: url(/../images/concrete_seamless.webp);
  margin-bottom: 15px;
}

.article_info_meta_adm small {
  padding-left: 15px;
}

.create_article_form .radio {
  min-width: 20%;
  position: relative;
  display: inline-block;
}